Flask==2.0.2
Flask-SQLAlchemy==2.5.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-WTF==1.0.0
werkzeug==2.0.3
sqlalchemy==1.4.36
email_validator
Flask-Mail==0.9.1
itsdangerous==2.0.1
pillow
Flask-Migrate
alembic
flask_paginate
